main{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
}

.upper{
	/*background-color: green;*/
	height: 200px;
	width: 50%;
	display: inline-block;
	font-size: 0;
}

.upper-left{
	background-color: darkolivegreen;
}

.upper-right{
	background-color: blue;
}

.lower{
	/*background-color: red;*/
	height: 300px;
	width: 33.33%;
	display: inline-block;
	width: 33.33%;
	font-size: 0;
}

.lower-left{
	background-color: grey;
}

.lower-center{
	background-color: black;
}

.lower-right{
	background-color: darkgoldenrod;
}